section {
    width: 80%;
    margin: auto;
    margin-top: 200px;
    
}

a{
    text-decoration: none;
    color: black;
}

section hr {

    margin-top: 100px;

}
.projects h2 {
    text-align: center;
}
.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.card img {
    height: 200px;
}
.card h3 , .card p {
    margin-top: 20px;
}