




header {
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fb;


}

header span {
    padding: 20px;
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

.navigation {
    display: flex;
    width: 70%;
    justify-content: flex-end;
}

.navigation ul li {
    display: inline-block;
    padding: 20px;
}


/* END OF HEADER */

.about-me {
    height: 800px;
    background: rgb(4, 15, 15);
    background: linear-gradient(90deg, rgba(4, 15, 15, 1) 5%, rgba(1, 126, 167, 1) 90%);
    background-size: 400% 400%;
    animation: gradient 10s linear infinite;
    color: #f8f9fb;
    
}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.glass {
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass .summary {
    padding: 70px 70px 70px 0px;
    width: 70%;
}
.personal-pic {
    width: 200px;
    height: 200px;
}
.custom-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.qualification h2{
    margin-bottom: 30px;
}
.qualification {
    margin-top: 50px;

}
.qualification  img {
    width: 30px;
    height: 30px;
}
.progress {
    width: 70%;
}



.skills{

    margin-top: 80px;
}

.technical-skills {
    margin-top: 40px;
    margin-bottom: 20px;
}
.technical-skills >p {
    margin-bottom: 70px;
}
.badge img {
    width: 50%;
    height: 200px;
}
.badges {
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 50px;
}

.personal-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
}
.personal-flex .badge {
    width: 30%;
}
.personal-skills {
    margin-top: 40px;
}

.check-work {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    color: #f8f9fb;
}
.check-work a {
    background: rgb(4, 15, 15);
    background: linear-gradient(90deg, rgba(4, 15, 15, 1) 5%, rgba(1, 126, 167, 1) 90%);
    background-size: 400% 400%;
    animation: gradient 10s linear infinite;
    color: #f8f9fb;
    padding: 20px;
    width: 200px;
}
.check-work a:hover {
    color: #f8f9fb;
    
}
.social-media {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.social-media img {
    width: 40px;
    height: 50px;
    margin: 10px;
}
.social-links {
    width: 200px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    background: rgb(4, 15, 15);
    background: linear-gradient(90deg, rgba(4, 15, 15, 1) 5%, rgba(1, 126, 167, 1) 90%);
    background-size: 400% 400%;
    animation: gradient 10s linear infinite;
    color: #f8f9fb;
    margin-top: 20px;
}
footer a{ 
    color: #f8f9fb;
}
/* Media Queries */
@media only screen and (max-width:999px) {
    .glass {

        flex-direction: column-reverse;
        padding-top: 50px;
    }

    
}

@media only screen  and (max-width:768px) {
    .about-me {
        height: 800px;
    }
    .personal-flex .badge {
        width: 100%;
    }
    .glass .summary {
        padding: 0;
    }
    .badges {
        grid-template-columns: repeat(2,1fr);
    }
}
@media only screen and (max-width:445px) {
    .badges{
        grid-template-columns: 1fr;
    }
    .personal-flex {
        flex-direction: column;
    }
    .personal-flex .badge {
        width: 100%;
    }

    .about-me {
        height: 1200px;
    }
}
@media only screen and (max-width:300px) {
   

    .personal-pic {
        width: 100px;
        height: 100px;
    }
    .qualification {
        padding-left: 5px;
    }
}